<body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="/admin">
            <span class="align-middle">Admin Panel</span>
          </a>
  
          <ul class="sidebar-nav">
            <li class="sidebar-header">Pages</li>
  
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin">
                <i class="align-middle" data-feather="monitor"></i>
                <span class="align-middle">Dashboard</span>
              </a>
            </li>
  
            <li class="sidebar-item ">
              <a class="sidebar-link" href="/admin/products">
                <i class="align-middle" data-feather="shopping-bag"></i>
                <span class="align-middle">Products</span>
              </a>
            </li>
  
            <li class="sidebar-item active">
              <a class="sidebar-link" href="/admin/categoryView">
                <i class="align-middle" data-feather="layers"></i>
                <span class="align-middle">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/user">
                <i class="align-middle" data-feather="users"></i>
                <span class="align-middle">Users</span>
              </a>
            </li>
  
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orderStatus">
                <i class="align-middle" data-feather="package"></i>
                <span class="align-middle">Order Status</span>
              </a>
            </li>
  
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupons">
                <i class="align-middle" data-feather="command"></i>
                <span class="align-middle">Coupons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/banner">
                <i class="align-middle" data-feather="bookmark"></i>
                <span class="align-middle">Banner</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>
  
          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="align-middle" data-feather="settings"></i>
                </a>
  
                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <img
                    src="../images/login-images/avatar.jpg"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />
                  <span class="text-dark">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="pages-profile.html"
                    ><i class="align-middle me-1" data-feather="user"></i>
                    Profile</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="align-middle me-1" data-feather="pie-chart"></i>
                    Analytics</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="index.html"
                    ><i class="align-middle me-1" data-feather="settings"></i>
                    Settings & Privacy</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="align-middle me-1" data-feather="help-circle"></i>
                    Help Center</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
  
        <main class="content">
          <div class="container">
            <style>
              .add-product-button {
                background-color: rgb(44, 111, 255);
                color: rgb(248, 242, 242);
                font-weight: bold;
                border: none;
                padding: 12px 20px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                float: right; /* add this line */
              }
              table {
              margin-top: 8rem;
            }

            .categoryHeading {
  width: 258px;
  height: 36px;
  margin-top: 100px;
  margin-left: 130px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.category-div {
  display: flex;
  border: 1px solid #022d17;
  height: 50px;
  width: 70%;
  justify-content: center;
  margin: 0px auto;
}
.categoryvalue {
  width: 33.3%;
  
  text-align: center;
  align-self: center;}

  #editButton{
    margin-left: 50%;
    width: 5%;
  }
           
            </style>
            <a href="/admin/addCategory">
              <button type="button" class="add-product-button">
                Add Category
              </button>
            </a>
          </div class="mt-5"><br>
          
       
           

            <div class="categoryHeading"><h2>Color</h2></div>
           
            <% for (let i = 0; i < color.length; i++) { %>
            <div class="category-div" >
              <div class="categoryvalue"><%= color[i].values %></div>
              <a href="/admin/editCategory/<%=color[i]._id %>" class="categoryvalue" id="editButton"  >
               <i class="fas fa-edit" style="border: none; color: #6c716e;"></i>
              </a>
          
              <div class="categoryvalue">
                <% if (color[i].isListed) { %>
                  <a class="btn btn-danger" href="#" onclick="confirmBlock('<%=color[i]._id%>')">Block</a>
                <% } else { %>
                  <a class="btn btn-primary" href="#" onclick="confirmUnblock('<%=color[i]._id%>')">Unblock</a>
                <% } %>
              </div>
            </div>
            <% } %>
        

          


<div class="categoryHeading"><h2>pattern</h2></div>
           
<% for (let i = 0; i <pattern.length; i++) { %>
<div class="category-div" >
  <div class="categoryvalue"><%= pattern[i].values %></div>
  <a href="/admin/editCategory/<%=pattern[i]._id %>" class="categoryvalue" id="editButton"  >
   <i class="fas fa-edit" style="border: none; color: #6c716e;"></i>
  </a>

  <div class="categoryvalue">
    <% if (pattern[i].isListed) { %>
      <a class="btn btn-danger" href="#" onclick="confirmBlock('<%=pattern[i]._id%>')">Block</a>
    <% } else { %>
      <a class="btn btn-primary" href="#" onclick="confirmUnblock('<%=pattern[i]._id%>')">Unblock</a>
    <% } %>
  </div>
</div>
<% } %>
       

          

<div class="categoryHeading"><h2>Product Type</h2></div>
           
<% for (let i = 0; i < productType.length; i++) { %>
<div class="category-div" >
  <div class="categoryvalue"><%= productType[i].values %></div>
  <a href="/admin/editCategory/<%=productType[i]._id %>" class="categoryvalue" id="editButton"  >
   <i class="fas fa-edit" style="border: none; color: #6c716e;"></i>
  </a>

 <div class="categoryvalue">
    <% if (productType[i].isListed) { %>
      <a class="btn btn-danger" href="#" onclick="confirmBlock('<%=productType[i]._id%>')">Block</a>
    <% } else { %>
      <a class="btn btn-primary" href="#" onclick="confirmUnblock('<%=productType[i]._id%>')">Unblock</a>
    <% } %>
  </div>
</div>
<% } %>

<div class="categoryHeading"><h2>Product Category</h2></div>
           
<% for (let i = 0; i < productCategory.length; i++) { %>
<div class="category-div" >
  <div class="categoryvalue"><%= productCategory[i].values %></div>
  <a href="/admin/editCategory/<%=productCategory[i]._id %>" class="categoryvalue" id="editButton"  >
   <i class="fas fa-edit" style="border: none; color: #6c716e;"></i>
  </a>

  <div class="categoryvalue">
    <% if (productCategory[i].isListed) { %>
      <a class="btn btn-danger" href="#" onclick="confirmBlock('<%=productCategory[i]._id%>')">Block</a>
    <% } else { %>
      <a class="btn btn-primary" href="#" onclick="confirmUnblock('<%=productCategory[i]._id%>')">Unblock</a>
    <% } %>
  </div>
</div>
<% } %>
         
        </main>
      </div>
    </div>
  </body>
 
  
  <script>
    function confirmBlock(id) {
      swal.fire({
        title: "Are you sure?",
        text: "You are about to block this category!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, block it!",
        cancelButtonText: "Cancel",
      }).then((result) => {
        if (result.isConfirmed) {
         
          window.location.href = "/admin/categoryBlock/" + id;
         
         
        }
      });
    }
  
    function confirmUnblock(id) {
      swal.fire({
        title: "Are you sure?",
        text: "You are about to unblock this category!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, unblock it!",
        cancelButtonText: "Cancel",
      }).then((result) => {
        if (result.isConfirmed) {
          
          window.location.href = "/admin/categoryUnBlock/" + id;
         
        }
      });
    }
  </script>
  