<!-- inner page section -->
<section class="inner_page_head">
    <div class="container_fuild">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <h3>Mens</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end inner page section -->
  <!-- product section -->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
      <!-- HTML Markup -->
<div class="container">
 

      </div>
      <div class="row" id=" product-grid">
        
          

          
        <% for (let i=0;i<products.length;i++){%>
          <% if (!products.isActive) { %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" style="max-height: 380px;">
            <div class="option_container">
              <div class="options">
                <a href="/productDetail/<%= products[i].id %>" class="option1"> View Product </a>
                <a href="" class="option2"> Buy Now </a>
              </div>
            </div>
            <div class="img-box">
              <img src="/uploads/<%= products[i].images[0]%>" alt="" />
            </div>
           
              <p style="font-size: 13px; position: relative"><%= products[i].name%></p>
             
              <h5 style="margin-top: 5px">₹<%= products[i].price%></h5>
           
          </div>
        </div>
        <% } %>
        <% } %>
      
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <% if (currentPage !== 1) { %>
            <li class="page-item">
              <a class="page-link" href="/productMen?page=<%= currentPage-1 %>" tabindex="-1">Previous</a>
            </li>
          <% } %>
         
          <% for( let i = 1; i <= totalPages; i++ ) { %>
            
            <li class="page-item"><a class="page-link" href="/productMen?page=<%=i %>"><%= i %></a></li>

          <% } %>
         
          <% if (currentPage !== totalPages ) { %>
            <li class="page-item">
              <a class="page-link" href="/productMen?page=<%= currentPage+1 %>">Next</a>
            </li>
          <% } %>
          
        </ul>
      </nav>
    </div>
  </section>
  <!-- end product section -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://www.solodev.com/assets/pagination/jquery.twbsPagination.js"></script>
 
  
  
  <!-- <script>
    var totalPages = '<%= totalPages%>'
    var page = '<%= currentPage%>'
  
    $("#pagination-demo").twbsPagination({
      totalPages: totalPages,
      // the current page that show on start
      startPage: page,
  
      // maximum visible pages
      visiblePages: totalPages,
  
      initiateStartPageClick: true,
  
      // template for pagination links
      href: false,
  
      // variable name in href template for page number
      hrefVariable: "{{number}}",
  
      // Text labels
      first: "First",
      prev: "Prev",
      next: "Next",
      last: "Last",
  
      // carousel-style pagination
      loop: false,
  
      // callback function
      onPageClick: function (event, page) {
        $(".page-active").removeClass("page-active");
        $("#page" + page).addClass("page-active");
      },
  
      // pagination Classes
      paginationClass: "pagination d-flex",
      nextClass: "next",
      prevClass: "prev",
      lastClass: "last",
      firstClass: "first",
      pageClass: "page",
      activeClass: "active",
      disabledClass: "disabled",
    });
    $(".page").css({
      margin: "0 5px",
      cursor: "pointer",
      padding: "5px",
      backgroundColor: "#f8f8f8",
      border: "1px solid #ddd",
      borderRadius: "3px",
    });
  
    $(".page.active").css({
      fontWeight: "bold",
      backgroundColor: "#007bff",
      color: "#fff",
      borderColor: "#007bff",
    });

   

  </script> -->
  